.footerParent {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 1vw;
}

.leftColumnDiv {
    padding-left: 7vw;
}

.rightColumnDiv {
    padding-right: 7vw;
    text-align: end;
}

.left {
    position: left;
    float: left;
    width: 50%;
}

.right {
    position: right;
    text-align: right;
    float: right;
    width: 50%;
}