.footerParent {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding-bottom: 1vw;
}

.leftColumnDiv {
    padding-left: 7vw;
}

.rightColumnDiv {
    padding-left: 25vw;
    text-align: start;
}

.left {
    position: left;
    float: left;
    width: 50%;
}

.right {
    position: right;
    text-align: right;
    float: right;
    width: 50%;
}

/* .LinkedIn {
    right: 0;
    height: 20px;
    width: 20px;
    background-image: url(../../images/LI-In-Bug.png);
    overflow: hidden;
} */