.footerParent {
    bottom: 0vh;
    position: absolute;
    width: 100%;
    padding-bottom: 1vw;
}

.leftColumnDiv {
    padding-left: 7vw;
}

.rightColumnDiv {
    padding-right: 7vw;
}

.left {
    position: left;
    float: left;
    background: red;
    width: 50%;
}

.right {
    position: right;
    text-align: right;
    float: right;
    background: blue;
    width: 50%;
}